<div fxLayout="row" class="background">
  <div fxFlex="80" fxFlexOffset="10%">

    <section id="header">
      <h1 class="h1-header">{{title}}</h1>
    </section>

    <section id="body">
      <form [formGroup]="form" (ngSubmit)="save()">
        <mat-card>
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [formControl]="nameControl" type="text">
                <mat-error *ngIf="nameControl?.invalid">
                  {{getError(nameControl.errors)}}
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput [formControl]="descriptionControl" type="text">
                <mat-error *ngIf="descriptionControl.invalid">
                  {{getError(descriptionControl.errors)}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="sapce-evenly center" fxLayoutGap="0.5rem">
            <mat-checkbox class="checkbox-field" (change)="onPremiumCheck($event.checked)" fxFlex [formControl]="isPremiumControl">Es premium? </mat-checkbox>
            <mat-form-field fxFlex *ngIf="!isPremiumControl.value" appearance="outline">
              <mat-label>Cantidad de actividades disponibles</mat-label>
              <input matInput [formControl]="activityQuantityControl" type="number">
              <mat-error *ngIf="activityQuantityControl.invalid">
                {{getError(activityQuantityControl.errors)}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
            <mat-form-field appearance="outline">
              <mat-label> Tipo de membresía </mat-label>
              <mat-select [formControl]="membershipTypeIdControl">
                <mat-option>Seleccionar</mat-option>
                <mat-option *ngFor="let type of typeDtos" [value]="type.id">
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="membershipTypeIdControl.invalid">
                {{getError(membershipTypeIdControl.errors)}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
            <mat-form-field appearance="outline">
              <mat-label> Precio </mat-label>
              <input matInput currencyMask [formControl]="priceControl">
              <mat-error *ngIf="priceControl.invalid">
                {{getError(priceControl.errors)}}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
        <br>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <button mat-flat-button type="submit" [disabled]="!form.valid" class="save-changes">GUARDAR
            CAMBIOS</button>
          <button routerLink="/manage/memberships" mat-raised-button class="cancel-changes">CANCELAR</button>
        </div>
      </form>
    </section>

  </div>
</div>
