<div fxLayout="row" class="background">
  <div fxFlex="80" fxFlexOffset="10%">
    <section id="header">
      <h1 class="h1-header">{{title}}</h1>
    </section>

    <section id="table">
      <div>
        <button mat-flat-button class="add-btn" (click)="add()">Agregar nuevo <mat-icon>add</mat-icon></button>
      </div>

      <mat-table class="mat-elevation-z0" [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="table-header">#</mat-header-cell>
          <mat-cell *matCellDef="let activity">{{activity.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class="table-header">Nombre</mat-header-cell>
          <mat-cell class="name-cell" *matCellDef="let activity">{{activity.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef class="table-header">Descripción</mat-header-cell>
          <mat-cell class="description-cell" *matCellDef="let activity">{{activity.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="option">
          <mat-header-cell *matHeaderCellDef class="table-header">Opciones</mat-header-cell>
          <mat-cell *matCellDef="let activity">
              <button mat-mini-fab class="edit-btn"
              matTooltip="Editar Actividad" (click)="edit(activity.id)">
                  <mat-icon>create</mat-icon>
              </button>
              <button mat-mini-fab class="delete-btn"
              matTooltip="Eliminar Actividad" (click)="delete(activity.id)">
                  <mat-icon>delete</mat-icon>
              </button>
          </mat-cell>

      </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator class="mat-elevation-z8" [length]="activitiesCount" [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 20]">
      </mat-paginator>
    </section>
  </div>
</div>
