<mat-toolbar class="mat-elevation-z8" *ngIf="(isLoggedIn$ | async) && (sidenav?.mode === 'over')">
    <button
      mat-icon-button
      *ngIf="sidenav?.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="example-container mat-elevation-z8">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened class="sidenav mat-elevation-z8" *ngIf="isLoggedIn$ | async as ILoggedIn">
    <div routerLink="home" fxLayout="row" fxLayoutAlign="space-around center" class="navHeader">
      <img src="../../../assets/images/logo-sinfondo.png" class="image">
    </div>
    <mat-nav-list id="navList">
      <ng-container *ngFor="let item of data">

        <button mat-button routerLink="{{item.link}}" fxLayout="row" fxLayoutAlign="start center" class="item-link"
          *ngIf="item.children.length === 0 && canShow(item.roles)">
          <mat-icon class="icon">{{item.icon}}</mat-icon>
          <span class="item">{{item.heading}}</span>
        </button>

        <mat-expansion-panel hideToggle class="mat-elevation-z0 panel" *ngIf="item.children.length > 0 && canShow(item.roles)" id="expPanel">
          <mat-expansion-panel-header class="panel-header" fxLayout="row" fxLayoutAlign="start center">
            <mat-panel-title>
              <mat-icon class="icon">{{item.icon}}</mat-icon>
              <span class="item">{{item.heading}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let child of item.children">
            <button *ngIf="(child.roles && canShow(child.roles)) || !child.roles" mat-button routerLink="{{child.link}}" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="subicon">{{child.icon}}</mat-icon>
              <span class="subitem">{{child.title}}</span>
            </button>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
