<div fxLayout="row" class="background">
  <div fxFlex="50" fxFlexOffset="25%">
    <section id="header">
      <h1 class="h1-header">Cambiar mi contraseña</h1>
    </section>

    <section id="body">

      <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
        <mat-card>
          <fieldset>
            <legend>Contraseñas</legend>
              <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
                <mat-form-field appearance="outline">
                  <mat-label>Contraseña Actual</mat-label>
                  <input matInput [formControlName]="oldPasswordNameProperty" type="password" required>
                  <mat-error *ngIf="OldPassword?.invalid">
                    {{getStringError(OldPassword)}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
                <mat-form-field appearance="outline">
                  <mat-label>Contraseña Nueva</mat-label>
                  <input matInput [formControlName]="passwordNameProperty" type="password" required>
                  <mat-error *ngIf="Password?.invalid">
                    {{getStringError(Password)}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
                <mat-form-field appearance="outline">
                  <mat-label>Confirmar Contraseña</mat-label>
                  <input matInput [formControlName]="confirmPasswordNameProperty" type="password" required>
                  <mat-error *ngIf="ConfirmPassword?.invalid">
                    {{getConfirmError(ConfirmPassword)}}
                  </mat-error>
                </mat-form-field>
              </div>
          </fieldset>
        </mat-card>
        <br>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-flat-button type="submit" [disabled]="!form.valid" class="save-changes">GUARDAR CAMBIOS</button>
          <button routerLink="/" mat-raised-button class="cancel-changes">CANCELAR</button>
        </div>
      </form>

    </section>

  </div>

</div>
