<div fxLayout="row" class="background">
  <div fxFlex="80" fxFlexOffset="10%">

    <section id="header">
      <h1 class="h1-header">{{title}}</h1>
    </section>

    <section id="body">
      <form [formGroup]="form" (ngSubmit)="save()">
        <mat-card>
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput [formControlName]="nameProperty" type="text">
                <mat-error *ngIf="Name?.invalid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex>
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput [formControlName]="descriptionProperty" type="text">
                <mat-error *ngIf="Description?.invalid">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
            <mat-form-field appearance="outline">
              <mat-label> Meses de duración </mat-label>
              <input matInput [formControlName]="monthQuantityProperty" type="number">
              <mat-error *ngIf="MonthQuantity?.invalid">
                {{getNumericError(MonthQuantity!)}}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" class="checkQuantity" fxLayoutAlign="flex-start flex-start" fxLayoutGap="2rem">
            <mat-checkbox [formControlName]="isByQuantityProperty" [(ngModel)]="isByQuantityChecked"
              (change)="onCheckChange($event.checked)">
              Es por cantidad de clases? </mat-checkbox>
          </div>
          <div *ngIf="isByQuantityChecked" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
            <mat-form-field appearance="outline">
              <mat-label> Cantidad de clases </mat-label>
              <input min="0" matInput [formControlName]="classQuantityProperty" type="number">
              <mat-error *ngIf="isByQuantityChecked && ClassQuantity?.invalid">
                Este campo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
        <br>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <button mat-flat-button type="submit" [disabled]="!form.valid" class="save-changes">GUARDAR CAMBIOS</button>
          <button routerLink="/manage/membership-types" mat-raised-button class="cancel-changes">CANCELAR</button>
        </div>
      </form>
    </section>

  </div>
</div>
