<div fxLayout="row" class="background">
    <div fxFlex="80" fxFlexOffset="10%">

      <section id="header">
        <h1 class="h1-header">{{title}}</h1>
      </section>

      <section id="body">
        <form [formGroup]="activityForm" (ngSubmit)="save()">
          <mat-card>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
              <div fxFlex>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput [formControlName]="nameProperty" type="text">
                  <mat-error *ngIf="Name?.invalid && (Name?.dirty || Name?.touched)">
                    Este campo es obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex>
                <mat-form-field appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <input matInput [formControlName]="descriptionProperty" type="text">
                  <mat-error *ngIf="Description?.invalid && (Description?.dirty || Description?.touched)">
                    Este campo es obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="0.5rem">
                <mat-form-field appearance="outline">
                  <mat-label>Minima cantidad de alumnos</mat-label>
                  <input matInput [formControlName]="memberMinQuantityProperty" type="number">
                </mat-form-field>
            </div>
          </mat-card>
          <br>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <button mat-flat-button type="submit" [disabled]="!activityForm.valid" class="save-changes">GUARDAR CAMBIOS</button>
            <button routerLink="/institute/activities" mat-raised-button class="cancel-changes">CANCELAR</button>
          </div>
        </form>
      </section>

    </div>
  </div>
