@use '@angular/material' as mat;

.dense-1 {
  @include mat.form-field-density(-1);
  @include mat.button-density(-1);
  @include mat.icon-button-density(-1);
  @include mat.datepicker-density(-1);
}

.dense-2 {
  @include mat.form-field-density(-2);
  @include mat.button-density(-2);
  @include mat.icon-button-density(-2);
  @include mat.datepicker-density(-2);
}

.dense-3 {
  @include mat.form-field-density(-3);
  @include mat.button-density(-3);
  @include mat.icon-button-density(-3);
  @include mat.datepicker-density(-3);
}

.dense-4 {
  @include mat.form-field-density(-4);
  @include mat.icon-button-density(-4);
  @include mat.datepicker-density(-4);
}

.dense-5 {
  @include mat.form-field-density(-5);
  @include mat.icon-button-density(-5);
  @include mat.datepicker-density(-5);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url('assets/images/background.jpg') no-repeat center center fixed;
}

:root {
  --mdc-theme-primary: greenyellow;
}

fieldset {
  margin-bottom: 1rem;
  color: #04A865;
  border-color: #04A865;
  border-radius: 1rem;
}

mat-paginator {
  margin-top: 1rem;
  border-radius: 1rem;
}

table {
  border: 0.4rem solid #424242 !important;
  border-radius: 1rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: RubikBold;
  src: url('assets/fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: RubikLight;
  src: url('assets/fonts/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: RubikMedium;
  src: url('assets/fonts/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: RubikRegular;
  src: url('assets/fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: RobotoMedium;
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: RobotoBold;
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
}

/* Cards */
mat-card {
  width: auto;
  padding: 1.5rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}


/* Table */

#table {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.table-header {
  background-color: #F9FBFD;
  color: #95AAC9;
  font-family: RobotoBold;
  text-transform: uppercase;
  text-align: center !important;
  justify-content: center;
}

mat-cell {
  font-family: RobotoMedium !important;
  justify-content: center;
}

mat-paginator {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.mdc-data-table__cell {
  text-align: center !important;
}

.table-image {
  width: 70px;
}

/* Pages header */
.h1-header {
  color: white;
  margin: 3rem !important;
  font-family: RubikBold !important;
  font-size: 2rem !important;
  text-transform: uppercase;
}

/* App background */
.background {
  /* background: linear-gradient( #45894b 15rem, #F4F7FC 15rem); */
  height: 100%;
}

/* Add new */
.add-btn {
  background-color: #45894b !important;
  color: white;
  margin-bottom: 1.5rem !important;
  border-radius: 25px !important;
  float: right;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Action buttons */
.edit-btn,
.delete-btn,
.close-btn,
.open-btn,
.trend-btn,
.login-btn,
.details-btn,
.trend-down-btn {
  transform: scale(0.8) !important;
  margin: 0.1rem !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.delete-btn,
.desactivate-btn,
.close-btn {
  background-color: #F2545B !important;
  color: white !important;
}

.edit-btn,
.activate-btn,
.open-btn {
  color: white !important;
  background-color: #35CE9E !important;
}

.desactivate-btn,
.activate-btn {
  transform: scale(0.9);
  margin-bottom: 0.5rem !important;
}

/* Save & cancel buttons */
.next-step,
.back-step,
.save-changes,
.cancel-changes {
  color: white;
  transform: scale(1.1) !important;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
  /* Arriba | Derecha | Abajo | Izquierda */
  margin: 0 1rem 1rem 1rem !important;
}

.save-changes {
  background-color: #04A865 !important;
}

.cancel-changes {
  background-color: #F2545B !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: yellowgreen;
}

.mat-step-icon-state-edit,
.mat-step-icon-selected,
.next-step {
  background-color: yellowgreen !important;
}

.mat-primary .mat-pseudo-checkbox-checked {
  background: #04A865;
}


